@model List<GuildCars.Models.UIModels.FeaturedVehicle>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SPECIALS</h1>
    <p>A description of the special</p>
</div>

<hr />
<h2>Featured Vehicles</h2>

<div class="row">
    @foreach (var vehicle in Model)
    {
        <div class="panel panel-default col-sm-4">
            <div class="text-center"><img src="@vehicle.ImageFilePath"/></div>
            <div class="text-center"><p>@vehicle.Year / @vehicle.MakeName / @vehicle.ModelName</p></div>
            <div class="text-center"><p><strong>$@vehicle.Price</strong></p></div>
            <div class="text-center"> @Html.ActionLink("Details", "Details", "Inventory", new { id = vehicle.VehicleId}, new { @class = "btn btn-info" })</div>
            </div>
    }
</div>


@*@section Scripts
{
    <script>
        $(document).ready(function () {

            var featuredVehicles = $('#featuredVehicles');

            $.ajax({
                type: 'GET',
                url: 'http://localhost:55178/api/home/index',
                success: function (results) {

                    $.each(data, function (index, item) {
                        var id = item.VehicleId;
                        var make = item.MakeName;
                        var model = item.ModelName;
                        var year = item.ModelYear;
                        var imagePath = item.ImageFilePath;

                        var row = '<p><img src="' + imagePath + '" /></p>';
                        row += '<p class="text-center">' + year + ' ' + make + ' ' + model '</p>';
                        row += '<p class="text-center"><a type="button" class="btn btn-info col-sm-12">Details</a></p>';

                        var htmlBlock = '<div class="panel panel-default col-sm-4"><div class="panel-body">' + row + '</div></div>';

                        featuredVehicles.append(htmlBlock);
                    });


                },
                error: function () {
                    alert('Error contacting web host. Something is probably on fire.')
                }
            });

        });
  
</script>
}*@

