@model GuildCars.UI.Models.AddEditVehicleVM

@{
    ViewBag.Title = "EditVehicle";
}

<h2>Edit Vehicle Details</h2>

<div>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })
    @using (Html.BeginForm("AddVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUpload" }))
    {

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Make</label>
                @Html.DropDownListFor(v => v.MakeName, Model.Make, "-SELECT-", new { @class = "form-control", @id = "make-dropdown" })
            </div>
            <div class="form-group col-md-6" id="model-dropdown">
                <label>Model</label>
                <div id="model-dropdown-menu"></div>
                <select class="form-control" data-val="true" data-val-required="Please select a model" id="ModelName" name="ModelName"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Type</label>
                <p>
                    New: @Html.RadioButtonFor(v => v.Type, true) ||
                    Used: @Html.RadioButtonFor(v => v.Type, false)
                </p>
            </div>
            <div class="form-group col-md-6">
                <label>Body Style</label>
                @Html.DropDownListFor(v => v.BodyStyleName, Model.BodyStyle, "-SELECT-", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Color</label>
                @Html.DropDownListFor(v => v.ColorName, Model.Color, "-SELECT-", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label>Interior</label>
                @Html.DropDownListFor(v => v.InteriorName, Model.Interior, "-SELECT-", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Year</label>
                @Html.TextBoxFor(v => v.Year, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label>Transmission</label>
                @Html.DropDownListFor(v => v.TransmissionName, Model.Transmission, "-SELECT-", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Mileage</label>
                @Html.TextBoxFor(v => v.Mileage, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label>VIN</label>
                @Html.TextBoxFor(v => v.VIN, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>MSRP</label>
                @Html.TextBoxFor(v => v.MSRP, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label>Sale Price</label>
                @Html.TextBoxFor(v => v.SalePrice, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Featured</label>
                @Html.CheckBoxFor(v => v.Featured, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6">
                <label>Description</label>
                @Html.TextAreaFor(v => v.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <img src="@Url.Content("~/Images/" + Model.vehicle.ImageFileName)" alt="@Model.vehicle.MakeName @Model.vehicle.ModelName" style="height:150px;width:200px" />

        </div>

        <div class="form-group">
            <label>Replace Image:</label>
            @Html.TextBoxFor(v => v.UploadedImage, new { type = "file", @class = "form-control" })
        </div>

        <hr />
        <div class="form-group">
            @Html.ActionLink("Cancel", "Index", "Admin", null, new { @class = "btn btn-default" })
            <button class="btn btn-primary">Save Changes</button>
        </div>
        
    }
    
    <div class="form-group">
        @using (Html.BeginForm("DeleteVehicle", "Admin", new { id = Model.vehicle.VehicleId }, FormMethod.Post))
        {
            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this @Model.vehicle.ModelYear @Model.vehicle.MakeName @Model.vehicle.ModelName from the database?');">Delete Vehicle</button>
        }
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {

            $('#make-dropdown').change(function () {

                var selection = $(this).val();

                $('#ModelName').empty();

                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:62036/admin/addvehicle/' + selection,
                    success: function (data) {
                        $.each(data, function (index, item) {
                            var div_data = "<option value='" + item + "'>" + item + "</option>";
                            $('#ModelName').append(div_data);
                        });
                    },

                    error: function () {
                        alert('Error loading models, please try again later!')
                    }
                });
            });
        });

    </script>
}

