@model List<GuildCars.Models.UIModels.VehicleUI>

@{
    ViewBag.Title = "New";
}

<h2>New Vehicles</h2>

<p>put a search bar here</p>

<div class="row">
    @foreach (var vehicle in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@vehicle.ModelYear @vehicle.MakeName @vehicle.ModelName</div>

            <div class="panel-body">
                <div class="col-sm-3"><img src="@vehicle.ImageFilePath" /></div>
                <div class="col-sm-3">
                    <p>Body Style: @vehicle.BodyStyleName</p>
                    <p>Transmission: @vehicle.TransmissionType</p>
                    <p>Color: @vehicle.ColorName</p>
                </div>
                <div class="col-sm-3">
                    <p>Interior: @vehicle.InteriorType</p>
                    <p>Mileage: NEW</p>
                    <p>VIN: @vehicle.VIN</p>
                </div>
                <div class="col-sm-3">
                    <p>MSRP: @vehicle.MSRP</p>
                    <p>Sale Price: @vehicle.SalePrice</p>
                    <p>@Html.ActionLink("Details", "Details", "Inventory", new { id = vehicle.VehicleId }, new { @class = "btn btn-info" })</p>
                </div>

            </div>
        </div>
        <hr />
    }
</div>
