@model List<HarborMasterFromEmployeeMgmtCA.Models.CraftListViewModel>
@{
    ViewBag.Title = "ListOfCraft";
}

<h2><strong>List of Craft in the MIYC Harbor</strong></h2>
<h4>@Html.ActionLink("Add a New Craft", "Add", "Crafts")</h4>
<div class="row">
    <div class="col-xs-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Membership</th>
                    <th>Dock Number</th>
                    <th>Craft Name</th>
                    <th>Type</th>
                    <th>Length</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var craft in Model)
                {
                    <tr>
                        <td>@craft.Owner</td>
                        <td>@craft.MembershipType</td>
                        <td>@craft.DockNumber</td>
                        <td>@craft.NameOfCraft</td>
                        <td>@craft.TypeOfCraft</td>
                        <td>@craft.LOA</td>
                        <td>
                            @Html.ActionLink("EDIT", "Edit", "Crafts", new { id = craft.OwnerID }, null)
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Crafts", new { id = craft.OwnerID }, FormMethod.Post))
                            {
                                <button class="btn btn-danger" onclick="return confirm('Are you sure you want to remove @craft.Owner from the registry?');">REMOVE</button>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

